/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 400px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.2424242424%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .feature__points.grid-half {
    width: 100%; }
    .feature__points.grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .feature__points.grid-half:nth-of-type(1n) {
      margin-right: 0; }
    .feature__points.grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) and (min-height: 650px) {
  .grid-1 {
    width: 15.404040404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.3232323232%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.2424242424%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.1616152593%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-4:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.7424240402%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-5:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.6666666667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.3333333333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.6666657778%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.50000002n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 82.9999998008%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20481928n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.8636363636%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.3232323232%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; }

  .menu__graphic.grid-2 {
    width: 100%; }
    .menu__graphic.grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .menu__graphic.grid-2:nth-of-type(1n) {
      margin-right: 0; }
    .menu__graphic.grid-2:last-child {
      margin-right: 0; }

  .menu__graphic.grid-2 {
    width: 32.3232323232%; }
    .menu__graphic.grid-2:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .menu__graphic.grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .menu__graphic.grid-2:last-child {
      margin-right: 0; } }
@media screen and (min-width: 1125px) {
  .feature__points.grid-half {
    width: 49.2424242424%; }
    .feature__points.grid-half:nth-child(n) {
      margin-bottom: 1.5151515152%;
      margin-right: 1.5151515152%; }
    .feature__points.grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .feature__points.grid-half:last-child {
      margin-right: 0; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
p,
label,
input {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  color: #474747; }

.button {
  display: inline-block;
  background-color: #6dc9c4;
  font-family: "Lora", serif;
  font-size: 1.125em;
  color: #fff;
  text-decoration: none;
  padding: 20px; }
  .button i {
    margin-left: 10px; }

/*!////////////////////////////////////////////////
// Theme
/////////////////////////////////////////////////*/
@media screen and (max-height: 450px) {
  body {
    font-size: 65%; } }
@media screen and (min-width: 400px) {
  body {
    font-size: 80%; } }
@media screen and (min-width: 960px) {
  body {
    font-size: 100%; } }
/*! Header
///////////////////////////////////// */
.header {
  text-align: center; }

.header__top {
  position: relative;
  padding: 20px 5%; }

.branding {
  font-family: "Lora", serif;
  font-size: 2.25em;
  color: #6dc9c4; }
  .branding img {
    width: 100%;
    max-width: 400px; }

.social__links {
  position: absolute;
  right: 5%;
  top: 10%; }
  .social__links a {
    width: 38px;
    height: 38px;
    background-color: #6dc9c4;
    display: inline-block;
    font-size: 2.25em;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    padding: 2px 0 0; }
    .social__links a:hover, .social__links a:focus {
      background-color: #3faaa5; }
  @media screen and (min-width: 700px) {
    .social__links {
      bottom: 10%;
      top: auto; } }
  @media screen and (min-width: 960px) {
    .social__links a {
      width: 48px;
      height: 48px; } }

.navigation {
  background-color: #808080;
  display: none; }
  .navigation li {
    display: inline-block;
    position: relative;
    z-index: 4;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .navigation li a {
      position: relative;
      z-index: 4;
      display: inline-block;
      font-family: "Sintony", sans-serif;
      font-size: 1em;
      color: #fff;
      text-decoration: none;
      padding: 20px 10px;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
      .navigation li a i {
        margin-left: 15px; }
      .navigation li a:hover, .navigation li a:focus {
        background-color: #6dc9c4; }
      @media screen and (min-width: 850px) {
        .navigation li a {
          padding: 20px 30px;
          font-size: 1.25em; } }
    .navigation li:hover > a, .navigation li:focus > a {
      background-color: #6dc9c4; }
    .navigation li:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 2px;
      height: 20px;
      margin-top: -10px;
      background-color: rgba(255, 255, 255, 0.1); }
    .navigation li:last-of-type:after {
      display: none; }
  @media screen and (min-width: 600px) {
    .navigation {
      display: block; } }

.dropdown {
  height: 0;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .dropdown li {
    display: block; }
    .dropdown li a {
      width: 250px;
      font-size: 1em;
      color: #808080;
      text-align: left;
      padding: 15px 20px;
      border-top: 2px solid rgba(128, 128, 128, 0.1); }
      .dropdown li a:hover, .dropdown li a:focus {
        color: #fff; }
    .dropdown li:after {
      display: none; }

.navigation li:hover .dropdown,
.navigation li:focus .dropdown {
  height: auto;
  opacity: 1; }

.mobile__button {
  display: block;
  background-color: #808080;
  font-family: "Sintony", sans-serif;
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;
  padding: 20px 30px; }
  @media screen and (min-width: 600px) {
    .mobile__button {
      display: none; } }

.mobile__nav {
  display: none; }
  .mobile__nav li {
    display: block; }
    .mobile__nav li:after {
      content: '';
      display: none; }
    .mobile__nav li a {
      width: 100%; }
      .mobile__nav li a:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 2px;
        margin-top: 0;
        background-color: rgba(255, 255, 255, 0.1); }
  .mobile__nav .dropdown {
    display: none;
    position: relative;
    height: auto;
    opacity: 1; }
    .mobile__nav .dropdown li a {
      text-align: center; }
  @media screen and (min-width: 600px) {
    .mobile__nav {
      display: none !important; } }

/*! Footer
///////////////////////////////////// */
.footer {
  background-color: #808080;
  padding: 1.25em 5%; }
  .footer p {
    color: #fff; }
  @media screen and (min-width: 1440px) {
    .footer {
      padding: 1.25em 10%; } }

.footer__links {
  text-align: center; }
  .footer__links a {
    color: #fff;
    text-decoration: none; }
  @media screen and (min-width: 650px) {
    .footer__links {
      text-align: right; } }

.footer__social {
  margin-left: 20px; }
  .footer__social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #6dc9c4;
    text-align: center;
    padding: 2px 0 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .footer__social a:hover, .footer__social a:focus {
      background-color: #3faaa5; }

/*!////////////////////////////////////////////////
// Home
/////////////////////////////////////////////////*/
/*! Intro
///////////////////////////////////// */
.home__intro {
  background-color: #fff;
  padding: 6.25em 5%;
  text-align: center; }
  .home__intro h1 {
    font-family: "Lora", serif;
    font-size: 1.75em;
    color: #6dc9c4; }
  .home__intro p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.6em;
    color: #555555;
    max-width: 56.25em;
    margin: 0 auto; }

p.intro__products {
  margin-bottom: 1.25em; }
  p.intro__products span {
    margin: 0 10px;
    position: relative; }
    p.intro__products span:after {
      content: '|';
      position: absolute;
      right: -16px; }
    p.intro__products span:last-of-type:after {
      display: none; }

/*! More Info
///////////////////////////////////// */
.more-info {
  background-image: url("../img/tan-bg.jpg");
  padding: 3.75em 5%; }
  @media screen and (min-width: 1440px) {
    .more-info {
      padding: 3.75em 10%; } }

.info__item h2, .menu__item h2 {
  display: inline-block;
  background-color: #6dc9c4;
  font-family: "Lora", serif;
  font-size: 2em;
  color: #fff;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-bottom: 3px solid #60b2ad; }
.info__item a, .menu__item a {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #b75860;
  text-decoration: none;
  margin-top: 20px; }
  .info__item a:hover, .menu__item a:hover, .info__item a:focus, .menu__item a:focus {
    text-decoration: underline; }

.info__graphic {
  margin-bottom: -35px; }
  .info__graphic img {
    width: 100%; }

/*! Farm Statement
///////////////////////////////////// */
.farm__statement {
  background-image: url("../img/farm-large.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 12.5em 5%; }
  .farm__statement h2 {
    max-width: 37.5em;
    font-family: "Lora", serif;
    font-size: 2.5em;
    color: #fff;
    margin: 0 auto 20px; }
  .farm__statement p {
    max-width: 31.25em;
    font-family: "Sintony", sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto; }

/*! Contact Details
///////////////////////////////////// */
.contact__details {
  padding: 3.125em 5%; }
  @media screen and (min-width: 1440px) {
    .contact__details {
      padding: 3.125em 10%; } }

.contact__address a {
  color: #474747; }
  .contact__address a:hover, .contact__address a:focus {
    text-decoration: none; }

.contact__right {
  text-align: right; }
  .contact__right p,
  .contact__right label {
    text-transform: uppercase; }
  .contact__right form input {
    line-height: 1em; }
  .contact__right form input[type=text],
  .contact__right form input[type=email] {
    font-size: 0.6875em;
    border: 2px solid #6dc9c4;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    margin-left: 20px; }
  .contact__right form button {
    background-color: #dddddd;
    border: none;
    font-size: 1.25em;
    color: #fff;
    padding: 8px 14px 10px;
    margin-left: 20px;
    text-align: center; }
    .contact__right form button i {
      display: inline-block; }

.contact__hours {
  margin-bottom: 20px; }
  .contact__hours span {
    margin: 0 10px; }

/*!////////////////////////////////////////////////
// SUB PAGE
/////////////////////////////////////////////////*/
.hero--page {
  position: relative;
  height: 250px;
  background-image: url(../img/page-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero--page h1 {
    width: 100%;
    position: absolute;
    top: 50%;
    font-family: "Lora", serif;
    font-size: 2.375em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: -30px; }
  @media screen and (min-width: 600px) {
    .hero--page {
      height: 430px; } }

.page__intro,
.content__left {
  background-color: #fff;
  padding: 6.25em 5%;
  text-align: left; }
  .page__intro img,
  .content__left img {
    max-width: 100%; }
  .page__intro h2,
  .content__left h2 {
    font-family: "Lora", serif;
    font-size: 1.75em;
    color: #474747;
    margin-bottom: 20px; }
  .page__intro p,
  .content__left p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.6em;
    color: #555555;
    max-width: 56.25em;
    margin: 0 auto; }
  .page__intro .button,
  .content__left .button {
    margin-top: 40px; }
  @media screen and (min-width: 1440px) {
    .page__intro,
    .content__left {
      padding: 6.25em 10%; } }

.content__left {
  background-image: url("../img/tan-bg.jpg"); }
  .content__left .content__detail {
    padding: 0; }
    @media screen and (min-width: 640px) {
      .content__left .content__detail {
        padding: 0 5% 0 0; } }
  .content__left .detail--left {
    padding: 0; }
    @media screen and (min-width: 640px) {
      .content__left .detail--left {
        padding: 0 5%; } }

.content__right .intro__detail {
  padding: 0; }
  @media screen and (min-width: 640px) {
    .content__right .intro__detail {
      padding: 0 0 0 5%; } }

.signature__treats {
  background-color: #fff;
  padding: 6.25em 5%;
  text-align: center; }
  .signature__treats h2 {
    font-family: "Lora", serif;
    font-size: 1.75em;
    color: #6dc9c4;
    margin-bottom: 20px; }
  .signature__treats p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    line-height: 1.6em;
    color: #555555;
    max-width: 43.75em;
    margin: 0 auto; }

/*! Menu
///////////////////////////////////// */
.menu {
  background-color: #dfdddb;
  padding: 3.125em 5%; }
  @media screen and (min-width: 1440px) {
    .menu {
      padding: 3.125em 10%; } }

.menu__wrap {
  height: auto;
  display: table; }

.menu__item h2 {
  font-size: 1.25em; }
  @media screen and (min-width: 1100px) {
    .menu__item h2 {
      font-size: 1.75em; } }

.menu__item {
  display: table-cell;
  background-color: #fff; }
  .menu__item p {
    padding: 0 10% 40px; }

.menu__feature {
  background-color: #fff;
  padding: 20px; }

.feature__info {
  padding: 20px 5%; }
  .feature__info h2 {
    font-family: "Lora", serif;
    font-size: 1.375em;
    color: #474747;
    text-align: center;
    margin-bottom: 20px; }
    @media screen and (min-width: 1100px) {
      .feature__info h2 {
        font-size: 1.75em; } }
  .feature__info .grid-half {
    text-align: center; }
    .feature__info .grid-half p {
      margin-top: 30px; }
  .feature__info p, .feature__info li {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125em;
    color: #474747; }
  .feature__info li {
    margin-bottom: 10px; }
  .feature__info p {
    text-align: center; }
  .feature__info ul {
    width: 200px;
    text-align: left; }
    @media screen and (max-width: 640px) {
      .feature__info ul {
        margin-left: 30px; } }
    @media screen and (min-width: 1125px) {
      .feature__info ul {
        margin-left: 30px; } }

.menu__graphic img {
  max-width: 100%;
  margin-bottom: -40px; }
.menu__graphic p {
  display: inline-block;
  background-color: #6dc9c4;
  font-family: "Lora", serif;
  font-size: 2em;
  color: #fff;
  padding: 10px 20px;
  border-bottom: 3px solid #60b2ad; }

.feature__points {
  padding: 0 0 0 60px; }
  .feature__points p {
    position: relative;
    text-align: left; }
    .feature__points p:before {
      content: '';
      background-color: #6dc9c4;
      width: 40px;
      height: 40px;
      position: absolute;
      left: -50px;
      font-family: "Lora", serif;
      font-size: 1.75em;
      color: #fff;
      text-align: center;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      padding-top: 5px; }
  .feature__points:nth-of-type(1) p:before {
    content: '1'; }
  .feature__points:nth-of-type(2) p:before {
    content: '2'; }
  @media screen and (min-width: 1125px) {
    .feature__points {
      padding: 0 0 0 60px; } }

/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
