@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// Theme
/////////////////////////////////////////////////*/
@media screen and (max-height: 450px){
	body{
		font-size: 65%;
	}
}
@media screen and (min-width: 350px){
	body{
		font-size: 80%;
	}
}
@media screen and (min-width: 960px){
	body{
		font-size: 100%;
	}
}

/*! Header
///////////////////////////////////// */
.header{
	text-align: center;
}
.header__top{
	position: relative;
	padding: 20px 5%;
}
.branding{
	font-family: $headline;
	font-size: em(36px,$font-size);
	color: $primaryColor;
	img{
		width: 100%;
		max-width: 400px;
	}
	@media screen and (min-width: 700px){

	}
}
.social__links{
	position: absolute;
	right: 5%;
	top: 10%;
	a{
		width: 38px;
		height: 38px;
		background-color: $primaryColor;
		display: inline-block;
		font-size: em(36px,$font-size);
		color: #fff;
		text-align: center;
		@include prefix(border-radius, 19px);
		@include prefix(transition, 0.2s ease-in-out);
		padding: 2px 0 0;
		&:hover,
		&:focus{
			background-color: darken($primaryColor,15);
		}
		@media screen and (max-width: 650px){
			font-size: em(36px,$font-size);
		}
	}
	@media screen and (min-width: 700px){
		bottom: 10%;
		top: auto;
	}
	@media screen and (min-width: 960px){
		a{
			width: 48px;
			height: 48px;
		}
	}
}
.navigation{
	background-color: $secondaryColor;
	display: none;
	li{
		display: inline-block;
		position: relative;
		z-index: 4;
		@include prefix(transition, 0.2s ease-in-out);
		a{
			position: relative;
			z-index: 4;
			display: inline-block;
			font-family: $nav;
			font-size: em(16px,$font-size);
			color: #fff;
			text-decoration: none;
			padding: 20px 10px;
			@include prefix(transition, 0.2s ease-in-out);
			i{
				margin-left: 15px;
			}
			&:hover,
			&:focus{
				background-color: $primaryColor;
			}
			@media screen and (min-width: 850px){
				padding: 20px 30px;
				font-size: em(20px,$font-size);
			}
		}
		&:hover > a,
		&:focus > a{
			background-color: $primaryColor;
		}
		&:after{
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			width: 2px;
			height: 20px;
			margin-top: -10px;
			background-color: transparentize(#fff, 0.9);
		}
		&:last-of-type:after{
			display: none;
		}
	}
	@media screen and (min-width: 600px){
		display: block;
	}
}
.dropdown{
	height: 0;
	overflow: hidden;
	background-color: #fff;
	position: absolute;
	left: 0;
	z-index: 3;
	opacity: 0;
	@include prefix(transition, 0.2s ease-in-out);
	li{
		display: block;
		a{
			width: 250px;
			font-size: em(16px,$font-size);
			color: $secondaryColor;
			text-align: left;
			padding: 15px 20px;
			border-top: 2px solid transparentize($secondaryColor, 0.9);
			&:hover,
			&:focus{
				color: #fff;
			}
			
		}
		&:after{
			display: none;
		}
	}
}
.navigation{
	li:hover,
	li:focus{
		.dropdown{
			height: auto;
			opacity: 1;
		}
	}
}
.mobile__button{
	display: block;
	background-color: $secondaryColor;
	font-family: $nav;
	font-size: em(20px,$font-size);
	color: #fff;
	text-decoration: none;
	padding: 20px 30px;
	@media screen and (min-width: 600px){
		display: none;
	}
}
.mobile__nav{
	display: none;
	li{
		display: block;
		&:after{
			content: '';
			display:none;
		}
		a{
			width: 100%;
			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 100%;
				height: 2px;
				margin-top: 0;
				background-color: transparentize(#fff, 0.9);
			}
		}
	}
	.dropdown{
		display: none;
		position: relative;
		height: auto;
		opacity: 1;
		li{
			a{
				text-align: center;
			}
		}
	}
	@media screen and (min-width: 600px){
		display: none !important;
	}
}

/*! Footer
///////////////////////////////////// */
.footer{
	background-color: $secondaryColor;
	padding: em(20px,$font-size) 2.5%;
	p{
		color: #fff;
	}
	@media screen and (min-width: 650px){
		padding: em(20px,$font-size) 5%;
	}
	@media screen and (min-width: 1440px){
		padding: em(20px,$font-size) 10%;
	}
}
.footer__links{
	text-align: center;
	a{
		color: #fff;
		text-decoration: none;
	}
	@media screen and (min-width: 650px){
		text-align: right;
	}
}
.footer__social{
	margin-left: 20px;
	a{
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: $primaryColor;
		text-align: center;
		padding: 2px 0 0;
		@include prefix(border-radius, 15px);
		@include prefix(transition, 0.2s ease-in-out);
		&:hover,
		&:focus{
			background-color: darken($primaryColor,15);
		}
	}
}


/*!////////////////////////////////////////////////
// Home
/////////////////////////////////////////////////*/

/*! Intro
///////////////////////////////////// */
.home__intro{
	background-color: #fff;
	padding: em(50px,$font-size) 2.5%;
	text-align: center;
	h1{
		font-family: $headline;
		font-size: em(28px,$font-size);
		color: $primaryColor;
	}
	p{
		font-family: $body;
		font-size: em(18px,$font-size);
		line-height: 1.6em;
		color: #555555;
		max-width: em(900px,$font-size);
		margin: 0 auto;
	}
	@media screen and (min-width: 650px){
		padding: em(100px,$font-size) 5%;
	}
}
p.intro__products{
	margin-bottom: em(20px,$font-size);
	span{
		margin: 0 10px;
		position: relative;
		&:after{
			content: '|';
			position: absolute;
			right: -16px;
		}
		&:last-of-type:after{
			display: none;
		}
	}
}

/*! More Info
///////////////////////////////////// */
.more-info{
	background-image: url('../img/tan-bg.jpg');
	padding: em(30px,$font-size) 2.5%;
	@media screen and (min-width: 650px){
		padding: em(60px,$font-size) 5%;
	}
	@media screen and (min-width: 1440px){
		padding: em(60px,$font-size) 10%;
	}
}
.info__item{
	h2{
		display: inline-block;
		background-color: $primaryColor;
		font-family: $headline;
		font-size: em(32px,$font-size);
		color: #fff;
		margin-bottom: 30px;
		padding: 10px 20px;
		border-bottom: 3px solid $color1;
	}
	a{
		display: inline-block;
		font-family: $body;
		font-weight: 700;
		color: $tertiaryColor;
		text-decoration: none;
		margin-top: 20px;
		&:hover,
		&:focus{
			text-decoration: underline;
		}
	}
}
.info__graphic{
	margin-bottom: -35px;
	img{
		width: 100%;
	}
}

/*! Farm Statement
///////////////////////////////////// */
.farm__statement{
	background-image: url('../img/farm-large.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: em(100px,$font-size) 2.5%;
	h2{
		max-width: em(600px,$font-size);
		font-family: $headline;
		font-size: em(40px,$font-size);
		color: #fff;
		margin: 0 auto 20px;
	}
	p{
		max-width: em(500px,$font-size);
		font-family: $nav;
		font-size: em(24px,$font-size);
		line-height: 1.4em;
		color: #fff;
		text-transform: uppercase;
		margin: 0 auto;
	}
	@media screen and (min-width: 1440px){
		padding: em(200px,$font-size) 5%;
	}
}

/*! Contact Details
///////////////////////////////////// */
.contact__details{
	padding: em(30px,$font-size) 2.5%;
	@media screen and (min-width: 1440px){
		padding: em(50px,$font-size) 5%;
	}
	@media screen and (min-width: 1440px){
		padding: em(50px,$font-size) 10%;
	}
}
.contact__address{
	a{
		color: $textColor;
		&:hover,
		&:focus{
			text-decoration: none;
		}
	}
}
.contact__right{
	text-align: right;
	p,
	label{
		text-transform: uppercase;
	}
	form{
		input{
			line-height: 1em;
		}
		input[type=text],
		input[type=email]{
			display: block;
			font-size: em(11px,$font-size);
			border: 2px solid $primaryColor;
			padding: 10px;
			width: 100%;
			margin-bottom: 10px;
			
			@media screen and (min-width: 650px){
				max-width: 200px;
				display: inline;
			}
			@media screen and (min-width: 908px){
				display: inline;
				width: 100%;
				max-width: 200px;
				margin-left: 20px;
			}
		}
		button{
			background-color: #dddddd;
			border: none;
			font-size: em(20px,$font-size);
			color: #fff;
  			padding: 8px 14px 10px;
  			margin-left: 20px;
  			text-align: center;
  			i{
  				display: inline-block;
  			}
		}
		
	}
}
.contact__hours{
	margin-bottom: 20px;
	span{
		margin: 0 10px;
	}
}




/*!////////////////////////////////////////////////
// SUB PAGE
/////////////////////////////////////////////////*/
.hero--page{
	position: relative;
	height: 250px;
	background-image: url(../img/page-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	h1{
		width: 100%;
		position: absolute;
		top: 50%;
		font-family: $headline;
		font-size: em(38px,$font-size);
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		margin-top: -30px;
	}
	@media screen and (min-width: 600px){
		height: 430px;
	}
}
.page__intro,
.content__left{
	background-color: #fff;
	padding: em(100px,$font-size) 5%;
	text-align: left;
	img{
		max-width: 100%;
	}
	h2{
		font-family: $headline;
		font-size: em(28px,$font-size);
		color: $textColor;
		margin-bottom: 20px;
	}
	p{
		font-family: $body;
		font-size: em(18px,$font-size);
		line-height: 1.6em;
		color: #555555;
		max-width: em(900px,$font-size);
		margin: 0 auto;
	}
	.button{
		margin-top: 40px;
	}
	@media screen and (min-width: 1440px){
		padding: em(50px,$font-size) 2.5%;
	}
	@media screen and (min-width: 1440px){
		padding: em(100px,$font-size) 10%;
	}
}
.content__left{
	background-image: url('../img/tan-bg.jpg');
	.content__detail{
		padding: 0;
		@media screen and (min-width: 640px){
			padding: 0 5% 0 0;
		}
	}
	.detail--left{
		padding: 0;
		@media screen and (min-width: 640px){
			padding: 0 5%;
		}
	}
}
.content__right{
	.intro__detail{
		padding: 0;
		@media screen and (min-width: 640px){
			padding: 0 0 0 5%;
		}
	}
}

.signature__treats{
	background-color: #fff;
	padding: em(100px,$font-size) 5%;
	text-align: center;
	h2{
		font-family: $headline;
		font-size: em(28px,$font-size);
		color: $primaryColor;
		margin-bottom: 20px;
	}
	p{
		font-family: $body;
		font-size: em(18px,$font-size);
		line-height: 1.6em;
		color: #555555;
		max-width: em(700px,$font-size);
		margin: 0 auto;
	}
}

/*! Menu
///////////////////////////////////// */
.menu{
	background-color: #dfdddb;
	padding: em(30px,$font-size) 2.5%;
	@media screen and (min-width: 1440px){
		padding: em(50px,$font-size) 5%;
	}
	@media screen and (min-width: 1440px){
		padding: em(50px,$font-size) 10%;
	}
}

.menu__wrap{
	height: auto;
}
.menu__item{
	@extend .info__item;
	h2{
		font-size: em(20px,$font-size);
		@media screen and (min-width: 1100px){
			font-size: em(28px,$font-size);
		}
	}
}
.menu__item{
	background-color: #fff;
	p{
		padding: 0 10% 40px;
	}
}
.menu__feature{
	background-color: #fff;
	padding: 20px;
}
.feature__info{
	padding: 20px 2.5%;
	h2{
		font-family: $headline;
		font-size: em(22px,$font-size);
		color: $textColor;
		text-align: center;
		margin-bottom: 20px;
		@media screen and (min-width: 1100px){
			font-size: em(28px,$font-size);
		}
	}
	.grid-half{
		text-align: center;
		p{
			margin-top: 30px;
		}
	}
	p,li{
		font-family: $body;
		font-size: em(18px,$font-size);
		color: $textColor;
	}
	li{
		margin-bottom: 10px;
	}
	p{
		text-align: center;
	}
	ul{
		width: 200px;
		text-align: left;
		
		@media screen and (max-width: 640px){
			margin-left: 30px;
		}
		@media screen and (min-width: 1125px){
			margin-left: 30px;
		}
	}
	@media screen and (min-width: 1440px){
		padding: 20px 5%;
	}
}
.menu__graphic{
	img{
		width: 100%;
		margin-bottom: -40px;
	}
	p{
		display: inline-block;
		background-color: $primaryColor;
		font-family: $headline;
		font-size: em(32px,$font-size);
		color: #fff;
		padding: 10px 20px;
		border-bottom: 3px solid $color1;
	}
}

.feature__points{
	padding: 0 0 0 60px;
	p{
		position: relative;
		text-align: left;
		&:before{
			content: '';
			background-color: $primaryColor;
			width: 40px;
			height: 40px;
			position: absolute;
			left: -50px;
			font-family: $headline;
			font-size: em(28px,$font-size);
			color: #fff;
			text-align: center;
			@include prefix(border-radius, 20px);
			padding-top: 5px;
		}
	}
	&:nth-of-type(1) p:before{
		content: '1';
	}
	&:nth-of-type(2) p:before{
		content: '2';
	}
	@media screen and (min-width: 1125px){
		padding: 0 0 0 60px;
	}
}



@import "shame.scss";
@import "helpers.scss";